:root {
  --claro: #e0e0e0;
  --oscuro: #181818;
  --claro2: rgba(255, 255, 255,.2);
  --oscuro-5:rgba(0,0,0,0.5);
  --oscuro-7:rgba(0,0,0,0.75);

  --tipo-titular:'Playfair', serif;
  --tipo-principal:'Inter', sans-serif;

  --path-gb-verde: #2e8b57;
  --path-gb-purpura: rgba(111,0,115);
  --path-gb-azul: rgb(0,59,155);
  --path-gb-amarillo: rgb(165,127,1);

}

@media screen and (prefers-color-scheme: light) {
  :root {
    --claro: #181818;
    --oscuro:#e0e0e0;
    --claro2: rgba(0,0,0,.2);

    --oscuro-5: rgba(255, 255, 255, 0.5);
    --oscuro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  // cursor: none;
}

video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;

}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--oscuro);
  color: var(--claro);
  font-smooth: alweys;
  -weg-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(40px);
  animation: circulo1 50s linear infinite both;

}

.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;

  animation: circulo1 50s linear infinite both;
}

.circulos .circulo1 {

  top: 0%;
  left: 0%;

}


.circulos .circulo1 .path {
  fill: var(--path-gb-verde);

}

.circulos .circulo2 {
  top: 0%;
  right: 0%;

}

.circulos .circulo2 .path {
  fill: var(--path-gb-purpura);
}

.circulos .circulo3 {
  bottom: 0%;
  right: 0%;
}

.circulos .circulo3 .path {
  fill: var(--path-gb-azul);
}

.circulos .circulo4 {
  bottom: 0%;
  left: 0%;
}

.circulos .circulo4 .path {
  fill: var(--path-gb-amarillo);
}

.header {
  width: 100%;
  min-height: 5em;
  background: lightblue;
  
  padding: 1em 2em;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  display: none;
}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
}

.main {
  background: var(--oscuro-7);
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
}

.section {
  width: 100%;
  min-height: 80vh;
  padding: 2em;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
}

.section .ul {
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.section .ul .li {
  margin: 0 1em;
}

.section .ul .a {
  border: 1px solid var(--claro2);
  border-radius: 50%;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;

  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
}

.section .ul>:nth-child(2) .a {
  animation-delay: .2s;

}

.section .ul .a:hover {
  border-color: var(--claro);
}

.section .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height: 1em;
  color: var(--claro);
  mix-blend-mode: exclusion;
  
}

.section .h3 {
  font-family: var(--tipo-titular);
  font-size: 4.3em;
}

.section .grid {
  width: 90%;
  max-width: 40em;
  margin: 1em 0;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
  gap: 1em;
}

.section .article {
  width: 100%;
  min-height: 20vh;
  background: lightgoldenrodyellow;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: 1em;
}


.section .h4 {
  width: 100%;
  height: 100%;
  background-color: var(--oscuro-5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  color: var(--claro);
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform: translateZ(1) scale(1.5);
  transition: all .5s ease;
}

.section .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1);

}

.works {
  color: var(--claro);
}

.works .h2 {
  color: inherit;
  margin: 0 0 1rem;
}


.about .h2 {
  margin: 0 0 2rem;
}

.about .p {
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em;
  text-align: left;
}

.about .rrss {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about .li {
  margin: 0 1em;
}


.about .svg {
  width: 3em;
  height: 3em;
}

.footer {
  padding: 2em 0;
  text-align: center;
  color: var(--claro);

  z-index: 2;
  position: relative;
}


@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(2);
  }

  to {
    transform: rotate(360deg) scale(2);
  }
}

@keyframes aparecer1 {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

