@use 'globals';

.circulos {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: blur(40px);
  animation: circulo1 50s linear infinite both;

}

.circulos .circulo {
  position: absolute;
  width: 50%;
  height: 50%;

  animation: circulo1 50s linear infinite both;
}

.circulos .circulo1 {

  top: 0%;
  left: 0%;

}


.circulos .circulo1 .path {
  fill: rgb(5, 126, 35);
}

.circulos .circulo2 {
  top: 0%;
  right: 0%;

}

.circulos .circulo2 .path {
  fill: rgb(111, 0,155);
}

.circulos .circulo3 {
  bottom: 0%;
  right: 0%;
}

.circulos .circulo3 .path {
  fill: rgb(0, 59, 155);
}

.circulos .circulo4 {
  bottom: 0%;
  left: 0%;
}

.circulos .circulo4 .path {
  fill: rgb(165, 127,1);
}

.header {
  width: 100%;
  min-height: 5em;
  background-color: lightgreen;
  padding: 1em 2em;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.header .h1 {}

.header .h1 .a {}

.header .nav {}

.header .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .li {
  margin: 0 1em;
}

.header .li .a {}

.main {
  background: rgba(0,0,0,0.7);
  margin:0 0 1em;
  margin: 1em 0;
  position: relative;
  z-index: 2;
}

.section {
  width: 100%;
  min-height: 88vh;
  margin: 1em 0;
  padding: 2em;
  text-align: center;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.section .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
}

.section .ul {
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


}

.section .ul .li {
  margin: 0 1em;
}

.section .ul .a{
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 50%;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;

  transition: all .5s ease;
}

.section .ul .a:hover {
  border-color: rgb(250, 247, 247);
}

.section .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height: 1em;
  color: white;

}

.section .h3 {
  font-family: var(--tipo-titular);
  font-size: 4.3em;
}

.section .p {}

.section .grid {
  width: 90%;
  max-width: 40em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1em;
}

.section .article {
  width: 100%;
  min-height: 30vh;
  background: lightgoldenrodyellow;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  border-radius: 1em;
}

.section .a {}

.section .figure {
  width: 100%;
  background-color: red;
}

.section .img {
  width: 100%;
  background-color: limegreen;
}

.section .h4 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;


  color: white;
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transition: all .5s ease;
  transform: translateZ(1) scale(1.5);
}

.section .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1);

}

.works {
  color: white;
}
.works .h2 {
  color: inherit;
  margin: 0 0 1rem;
}

.about {
  
}

.about .h2 {
  margin: 0 0 2rem;
}

.about .p {
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em;
  text-align: left;
}

.about .rrss {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about .li {
  margin: 0 1em;
  // background-color: orange;
}

.about .a {}

.about .svg {
  width: 3em;
  height: 3em;
  // background-color: rgb(206, 33, 33);
}

.footer {
    padding: 2em 0;
  text-align: center;
  color: white;
  
  z-index: 2;
  position: relative;
}

.footer span {}

@keyframes circulo1 {
  from {
    transform: rotate(0deg) scale(3);
  }
  to {
    transform: rotate(3600deg) scale(3);
  }
}

@keyframes aparecer1 {
	from {
		opacity: 0;
		transform: translateY(50%);
	}
	to  {
		opacity: 1;
		transform: translateY(0%);
	}
}